<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/funda_h
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            root
        </property>
        <property name="connection.password">
            root
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <mapping class="tables.AccountsEntity"/>
        <mapping class="tables.LiggingEntity"/>
        <mapping class="tables.MkantoorEntity"/>
        <mapping class="tables.MkantoormdwEntity"/>
        <mapping class="tables.SoortbouwEntity"/>
        <mapping class="tables.SoortobjectEntity"/>
        <mapping class="tables.SoortvraagprijsEntity"/>
        <mapping class="tables.SoortwoningEntity"/>
        <mapping class="tables.StatusEntity"/>
        <mapping class="tables.TypewoningEntity"/>
        <mapping class="tables.WoEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>